<div class="ESLoginScreen" ng-class="animation">
    <div class="container-fluid">
        <div class="row">
            <div class="ESLogoContainer">
                <div class="ESLoginLogo"></div>
            </div>
        </div>
        <div class="row">
            <div class="ESLoginForm col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="loginEmail" placeholder="Username" ng-model="ESUser.email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="loginPassword" placeholder="Password" ng-model="ESUser.password">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="attemptLogin()">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
