<header ng-controller="HeaderCtrl">
    <nav class="navbar navbar-inverse" bs-navbar>
      <div class="container-fluid" bs-collapse>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand">
              <div class="ESNavLogo"></div>
          </a>
        </div>
        <ul class="nav navbar-nav hidden-xs navbar-right">
          <li><a ui-sref="login">Logout</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>
</header>
