<div class="ESShellWrapper" role="main">
    <div snap-drawer class="ESLeftMenu" ng-mouseenter="openDrawer()" ng-mouseleave="closeDrawer()">
        <div class="menu">
            <table>
                <tr ng-repeat="menuItem in menuItems" ui-sref="{{menuItem.Route}}" ng-click="select(menuItem)"" ng-class="{menuItemSelected: isActive(menuItem)}">
                    <td class="iconContainer"><i class="fa {{menuItem.Icon}} fa-lg"></i></td>
                    <td><h4>{{menuItem.DisplayName}}</h4></td></tr>
                <tr>
            </table>
        </div>
    </div> 
    
    <div snap-content snap-options="ESNavDrawerOptions">
        <div class="container-fluid ESContentWrapper">
            <div ui-view></div>
        </div>
    </div>
</div> <!-- /container -->
