<div class="DashboardWrapper">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
             <ul class="nav navbar-nav hidden-xs navbar-right">
                <li><i class="fa fa-plus fa-lg" ng-click="addWidget()"></i></li>                
            </ul>
        </div>
    </nav>
    <div class="DashboardContainer">
        <div class="row dashboardRow">
            <div ui-sortable="SortableOptions" ng-model="dashboardWidgets">
                <div class="flip-container" ng-repeat="item in dashboardWidgets" ng-class="item.sizeClass()">
                    <div class="flipper" ng-class="{'flipAway': item.showSettings}">
                        <div class="ESDashboardWidget panel panel-default front">
                            <div class="panel-heading ESWidgetHeader">
                                <div class="WidgetTitle">{{item.title}}</div>
                                <div class="WidgetIcons">
                                    <i class="fa fa-cog fa-lg" ng-click="toggleFlip(item)"></i>
                                </div>
                            </div>
                            <div class="panel-body WidgetBody">
                                <div ng-if="item.isRanking"><es-dashboard-widget widget="ranking"/></div>
                                <div ng-if="item.isMyWeight"><es-dashboard-widget widget="myweight" ng-controller="MyWeightController"/></div>
                                <div ng-if="item.isMyProgress"><es-dashboard-widget widget="myprogress"/></div>
                            </div>
                        </div>
                        <!-- back -->
                        <div class="ESDashboardWidget panel panel-default back">
                            <div class="panel-heading ESWidgetHeader">
                                <div class="WidgetTitle">Edit Widget</div>
                                <div class="WidgetIcons">
                                    <i class="fa fa-check fa-lg" ng-click="toggleFlip(item)"></i>
                                    <i class="fa fa-times fa-lg" ng-click="toggleFlip(item)"></i>
                                </div>
                                <div class="WidgetIcons WidgetIconsLeft">                                    
                                    <i class="fa fa-clone fa-lg" ng-click="removeWidget($index)"></i>
                                    <i class="fa fa-trash fa-lg" ng-click="removeWidget($index)"></i>
                                </div>
                            </div>
                            <div class="panel-body WidgetBody">
                                <div class="widgetSizeWrapper">
                                    <h4>Widget Size</h4>
                                    <div class="btn-group">
                                        <label class="btn btn-success" ng-model="item.displaySize" uib-btn-radio="'small'" uncheckable>Small</label>
                                        <label class="btn btn-success" ng-model="item.displaySize" uib-btn-radio="'medium'" uncheckable>Medium</label>
                                        <label class="btn btn-success" ng-model="item.displaySize" uib-btn-radio="'large'" uncheckable>Large</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>