<div class="modal-header">
    <h3 class="modal-title">Add a new widget</h3>
</div>
<div class="modal-body">
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Widget Type <span class="caret"></span>
      </button>
      <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
        <li ng-repeat="widget in widgetTypes">
          <a ng-click="select(widget)">{{widget.name}}</a>
        </li>
      </ul>
    </div>
    <p>Selection {{selected.name}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>