<div class="es-widget-myweight">
    <div class="container-fluid">
        <div class="es-widget-myweight-wrapper">
            <p>{{LastWeight}}<span class="myweight-system">{{System}}</span></p>
        </div>
        <div class="sub-content">
            <p>on {{LastWeightDate}}</p>
        </div>
    </div>
</div>