<div class="es-widget-myprogress">
    <div class="container-fluid">
        <div class="es-widget-myprogress-wrapper">
            <p><i class="fa fa-usd"></i> SOME PLOT</p>
        </div>
        <div class="sub-content">
            <p>total lost</p>
        </div>
    </div>
</div>