<div class="es-widget-ranking">
    <div class="container-fluid">
        <div class="es-widget-ranking-wrapper">
            <p>some</p>
        </div>
        <div class="sub-content">
            <p>ranking</p>
        </div>
    </div>
</div>