.DashboardWrapper {
    min-height: 100%;
    
    .navbar{
        min-height: 30px !important;
        height: 30px !important; 
        background: #9b9b9b;
        background: -moz-linear-gradient(45deg,  #9b9b9b 0%, #d4cdd6 100%);
        background: -webkit-linear-gradient(45deg,  #9b9b9b 0%,#d4cdd6 100%);
        background: linear-gradient(45deg,  #9b9b9b 0%,#d4cdd6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b9b9b', endColorstr='#d4cdd6',GradientType=1 );
        
        ul {line-height:2em;}
        i {padding: 5px;}
        i:hover { color: @activeItem;}
    }
    
    .dashboardRow {
        padding-top: 25px;
    }
    
    .DashboardContainer{
        padding-top: 20px;
        
        .ESDashboardWidget{
            .ESWidgetHeader{
                min-height: 50px !important;
                background-color: @ES_black !important;
                border: 0;
                cursor: move;
                
                .WidgetTitle{
                    font-size: 1.5em;
                    color: #d4cdd6;
                    float: left;
                }
                
                .WidgetIcons{
                    color: #d4cdd6;
                    float:right;
                    
                    i {
                        padding: 10px 0px 10px 10px;
                        cursor: default;
                    }
                    
                    i:hover {color: @activeItem;}
                }
                
                .WidgetIconsLeft{
                    border-right: 1px #d4cdd6 solid;
                    padding-right: 15px;
                }
            }
            
            .WidgetBody{
                min-height: 220px !important;
            }
            
            .widgetSizeWrapper{
                padding-left: 20px;
                h4  { float: left; padding-right: 20px;}
                div { float: left;}
            }
        }   
    }
    
    /* HORIZONTAL FLIP ANIMATION  */
    .flip-container {
        perspective: 1000;
        max-height: 290px !important;
    }
    
    .flipper {
        max-height:290px;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }
    
    .flip-container.flip .flipper {
        transform: rotateY(180deg);
    }
    
    .flipAway{
        transform: rotateY(180deg);
    }

    /* hide back of pane during swap */
    .front {
        backface-visibility: hidden;
        position: relative;
        top: 0;
        left: 0;
    }
    
    .back {
        height:270px !important;
        backface-visibility: hidden;
        position: relative;
        top: -290px;
        left: 0;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }
}

.es-widget-ranking {
    .es-widget-ranking-wrapper{
        text-align: center;
        font-size: 8em;
        
        p{height: 120px !important;}
    }
    
    .sub-content{
        width: 150px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 34px;
    }
}

.es-widget-myweight {
    
    .es-widget-myweight-wrapper{
        text-align: center;
        font-size: 8em;
        
        p {height: 120px !important;}
        
        .myweight-system {
            font-size: 0.5em;
        }
    }
    
    .sub-content{
        width: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }
}

.es-widget-myprogress {
    .es-widget-myprogress-wrapper{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 5em;
        
        p {height: 120px !important;}
    }
    
    .sub-content{
        width: 350px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 34px;
    }
}