.ESLoginScreen{
	background-color: #ffffff;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	
	.ESLoginForm{			
		margin-top: 50px;
		button {
			border-radius: 0 !important;
		}
		
		input {
			border-radius: 0 !important;
		}
	}
	
	.ESLogoContainer{
		margin-top: 75px;
		
		.ESLoginLogo{
			width: 190px;
			height: 75px;
			background-image: url('../img/logo1.png');
			background-repeat: no-repeat;
			background-size: 190px auto;	
			margin-left: auto;
			margin-right: auto;
		}
	}
}