@import "../node_modules/angular-sweetnotifier/src/angular-sweetnotifier.less";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap-additions/dist/bootstrap-additions.css";
@import "../node_modules/angular-motion/dist/angular-motion.css";
@import "../node_modules/angular-theme-spinner/dist/angular-theme-spinner.min.css";
@import "../bower_components/malhar-angular-dashboard/dist/malhar-angular-dashboard.css";
@import "../bower_components/angular-snap/angular-snap.css";
@import "../bower_components/animate.css/animate.min.css";

@import "./variables";
@import "./topnav";
@import "./login";
@import "./datapicker";
@import "./footer";
@import "./dashboard";

html,
body{
    height: 100%;
}

body{
    min-height: 100vh;
}

.main{
    min-height: 100%;
    padding-bottom: 45px;
    margin-bottom: -45px;
    > .container{
        min-height: 100%;
    }
}

.sweetnotifier{
    background-color: @sweetnotifybg !important;
    border-color: @sweetnotifybg-border !important;
}

.ESContentWrapper {
    min-height: 100%;
    padding: 20px;
    background: #f9f7f7;
    background: -moz-linear-gradient(-45deg,  #f9f7f7 3%, #f2f5f7 100%);
    background: -webkit-linear-gradient(-45deg,  #f9f7f7 3%,#f2f5f7 100%);
    background: linear-gradient(135deg,  #f9f7f7 3%,#f2f5f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f7f7', endColorstr='#f2f5f7',GradientType=1 );
    
    /* Animation for the nested views */    
    [ui-view].ng-enter {
        -webkit-animation: slideInUp 1s;
        -moz-animation: slideInUp 1s;
        -ms-animation: slideInUp 1s;
        animation: slideInUp 1s;
    }
    
    [ui-view].ng-enter-active {
        -webkit-animation: slideInUp 1s;
        -moz-animation: slideInUp 1s;
        -ms-animation: slideInUp 1s;
        animation: slideInUp 1s;
    }
    
    [ui-view].ng-leave {
        -webkit-animation: slideOutDown 1s;
        -moz-animation: slideOutDown 1s;
        -ms-animation: slideOutDown 1s;
        animation: slideOutDown 1s;
    }
    
    [ui-view].ng-leave-active {
        -webkit-animation: slideOutDown 1s;
        -moz-animation: slideOutDown 1s;
        -ms-animation: slideOutDown 1s;
        animation: slideOutDown 1s;
    }
}

.snap-drawers{
        background-color: #000000;
        position: absolute !important;
        top:70px !important;
        bottom:0 !important;
        left:0 !important;
        right:40 !important;
}

.snap-drawer { width: 500px !important;}
    
.snap-content {
    overflow: auto;
    position: position !important;
    top:70px !important;
    bottom:0 !important;
    left:40px !important;
    right:0 !important;
}

.ESLeftMenu {
    
    background: #2c2d2d;
    background: -moz-linear-gradient(-45deg,  #2c2d2d 15%, #050100 83%);
    background: -webkit-linear-gradient(-45deg,  #2c2d2d 15%,#050100 83%);
    background: linear-gradient(135deg,  #2c2d2d 15%,#050100 83%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d2d', endColorstr='#050100',GradientType=1 );

    table {
        width: 150%;
        
        .iconContainer {
            width:40px !important;
        }
    }
    td  {
        height: 45px;
        padding-left: 5px;
        border-top: solid 1px #2A2B2B;
        border-bottom: solid 1px #2A2B2B;
        
        i { 
            float: left; 
            padding: 0px 12px 0px 4px;    
        }
        h4 {float: left;}
        a:hover {text-decoration: none;}
        a {
            text-align: left;
            color: #6F7372;
            text-decoration: none;
        }
    }
    
    tr {color: #6F7372;  width: 100%;}
    
    tr:hover {
        background-color: #171717;
        color: #ffffff; 
    }
    
    tr:active {
        background-color: #2A2B2B;
        color: #ffffff;
    }
    
    .menuItemSelected{
        color: #ffffff; 
        i{color: @activeItem;}
    }
}
