header {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    .navbar{
        .navbar-header{
            .navbar-brand{
                padding: 0 10px;
                height: 50px;
                line-height: 70px;
                img{
                    width: 208px;
                    height: 70px;
                }
            }
        }
        ul.navbar-nav li{
            a{
                line-height: 40px;
                transition: background-color 0.6s ease 0s;
            }
        }
    }
}

.aside-body{
    padding-left: 0 !important;
    padding-right: 0 !important;
    .nav-pills>li>a{
        border-radius: 0;
    }
}

.ESNavLogo{
    width: 90px;
    height:65px;
    background-image: url('../img/logo1.png');
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: center;
    margin-left: 20px;
}

.navbar{
    border-radius: 0 !important;
}