@white: #fff;
@red:   #fe6869;
@ES_black: #2A2B2B;
@ES_gray: #6F7372;
@green: #B2BE1C;
@activeItem: #CC362F;
@sweetnotifybg: rgba(18, 25, 27, 0.9);
@sweetnotifybg-border: lighten(@sweetnotifybg, 15%);